/*
  wavy underline

  Add in markdown box:
    <p class="wavy">This text has a wavy line beneath it.</p>
*/


.wavy {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #edf842;
}

